pipeline/014_ppl_lookUpActivities.json
{
	"name": "014_ppl_lookUpActivities",
	"properties": {
		"activities": [
			{
				"name": "LookupReadFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dsLookUpADLSFile",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LookupReadFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "X",
					"value": {
						"value": "@activity('LookupReadFile').output.firstRow.city",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"X": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-27T07:09:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}