pipeline/017ppl_Lookup_storeProcedure.json
{
	"name": "017ppl_Lookup_storeProcedure",
	"properties": {
		"activities": [
			{
				"name": "LookupExample",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[creditCard_test2]",
						"storedProcedureParameters": {
							"cardType": {
								"type": "String",
								"value": "Gold"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dsLoopReadTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupExample",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupExample').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "city",
								"value": {
									"value": "@item().city",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"city": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-27T09:13:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}