pipeline/021_ppl_filterAndInsertIntoTable.json
{
	"name": "021_ppl_filterAndInsertIntoTable",
	"properties": {
		"activities": [
			{
				"name": "LookupExample",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dsFilterInsertTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "LookupExample",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupExample').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@greater(int(item().zipcode),704)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedureExample",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_insertNew]",
								"storedProcedureParameters": {
									"city": {
										"value": {
											"value": "@item().city",
											"type": "Expression"
										},
										"type": "String"
									},
									"id": {
										"value": {
											"value": "@item().id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"population": {
										"value": {
											"value": "@item().population",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"state": {
										"value": {
											"value": "@item().state",
											"type": "Expression"
										},
										"type": "String"
									},
									"type": {
										"value": {
											"value": "@item().type",
											"type": "Expression"
										},
										"type": "String"
									},
									"zipcode": {
										"value": {
											"value": "@item().zipcode",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaseConnection",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"x": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-27T11:39:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}